@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
}

a {
	text-decoration: none;
}

nav {
	width: 100%;
	height: 80px;
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;

	display: flex;
	justify-content: space-around;
	align-items: center;
}

.logo {
	width: 100px;
	height: 60px;
	background-color:
}

.logo img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.menu ul {
	width: 500px;
	height: 100%;

	display: flex;
	list-style-type: none;
	justify-content: space-around;
	align-items: center;
	color: #b0b6bf;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.8rem;
}

.menu {
	width: 500px;
	height: 100%;
	background-color: ;
}

.menu ul li a {
	text-decoration: none;
	color: #b0b6bf;
	padding: 10px 15px;
	transition: all 0.5s;
}

.menu ul li a:hover {
	color: #ffffff;
	background-color: #059696;
}

.Hi p {
	width: 45px;
	height: 20px;
	border-bottom: 3px solid #059696;
	cursor: pointer;
	margin-top: 25px;
	font-size: 0.8rem;
	color: #A7D129;
	text-align: center;
}

.Hi {
	width: 100px;
	height: 100%;
}

#B {
	width: 100%;
	height: 616px;
	background-color: ;

	display: flex;
	justify-content: space-around;
	align-items: center;
}

.H {
	width: 500px;
	height: 500px;
	background-color: ;
}

.H img {
	width: 500px;
}

.T {
	width: 500px;
	height: 200px;
	background-color: ;
}

.T h1 {
	font-size: 3.5rem;
	letter-spacing: 1px;

}

.T p {
	letter-spacing: ;
	color: #939c96;
	margin-bottom: 20px;
}

.T a {
	color: #fff;
	text-decoration: none;
	background-color: #059696;
	border-radius: 10px;
	padding: 10px 10px;
	transition: all 0.5s;
}

.T a:hover {
	background-color: #57d965;
}

#skill {
	width: 100%;
	height: 600px;
	background-color: ;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#skill .text {
	width: 400px;
	height: 650px;
	background-color: ;
}

.text span {
	color: #04c998;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.text h1 {
	font-size: 3rem;
	letter-spacing: 2px;
	margin-bottom: 20px;
}

.html {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.fa-html5 {
	font-size: 1.2rem;
	color: red;
}

.fa-css3-alt {
	color: blue;
	font-size: 1.2rem;
}

.fa-square-js {
	color: tomato;
	font-size: 1.2rem;
}

.icons {
	width: 50px;
	height: 50px;
	background-color: #ebf5ee;
	border-radius: 50%;

	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 20px;
}

.html i {
	margin: 0 50PX;
}

.html .htmltext h3 {
	margin-bottom: 15px;
}

#skill .content {
	width: 600px;
	height: 400px;
	background-color: ;
}

.content img {
	width: 100%;
	height: 100%;
}

#recent {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.recenthead h3 {
	color: #04c998;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.recenthead h1 {
	font-size: 3rem;
	letter-spacing: 2px;
}

#recent a {
	background-color: #059696;
	border-radius: 20px;
	color: white;
	padding: 7px 40px;
	transition: all 0.5s;
}

#recent a:hover {
	background-color: #57d965;
}

#client {
	width: 100%;
	height: 700px;
	background-color: ;
	margin-top: 50px;

	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
}

#client h3 {
	color: #04c998;
	letter-spacing: 2px;
	text-transform: uppercase;
}

#client h1 {
	color: black;
	letter-spacing: 1px;
	font-size: 3rem;
}

#client .clientcontainer {
	width: 80%;
	height: 500px;
	background-color: #fff;
}

.clientcontainer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

#client .clientcontainer .clientbox {
	width: 300px;
	height: 450px;
	background-color: #fff;
	box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.3);

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	border-radius: 10px;

	transition: all 0.3s;
}

#client .clientcontainer .clientbox:hover {
	background-color: #57d96580;
	transform: translateY(-10px);
}

#client .clientcontainer .clientbox img {
	width: 130px;
	height: 130px;
	border-radius: 50%;
	object-fit: cover;
}

#client .clientcontainer .clientbox div {
	display: flex;
	justify-content: center;
	align-items: center;
}

#client .clientcontainer .clientbox div i {
	color: gold;
}

#client .clientcontainer .clientbox p {
	width: 235px;
	height: 88px;
	font-size: 0.9rem;

	text-align: center;
	background-color: ;
	overflow: hidden;
}

#client .clientcontainer .clientbox a {
	background-color: #57d965;
	padding: 5px 20px;
	color: #fff;
}

#contact {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	margin-top: -100px;
}

#contact img {
	width: 400px;
	height: 600px;
	padding-top: 250px;
}

#contact h1 {
	font-size: 2.5rem;
	text-transform: capitalize;

	margin: 20px 0px;
}

#contact .inputbox {
	width: 350px;
	height: 60px;
	background-color: ;

	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 30px;
	box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.2);
}

.email {
	text-align: center;
	border: none;
	outline: none;
}

#contact .inputbox a {
	padding: 5px 15px;
	background-color: #059696;
	border-radius: 30px;
	color: #fff;

}

footer{
	width:100%;
	height:50px;
	display: flex;
	justify-content:space-around ;
	align-items: center;
	margin:30px;
}
